<header>
  <h3>Helena Code and Coffee</h3>
</header>
<section>
  <p>
  Every Tuesday at 7am at the Bagel Co.<br/>
  735 N Last Chance Gulch<br/>
  Helena, MT</p>
  <p>
  More information about the format and genesis of this meetup
  can be found
  <a href="http://codeandcoffee.info/">here.</a>
  </p>
  <p>
  You can contact Grant Austin for details:
  <a href="mailto:gaustin@gmail.com"></a>
  </p>
</section>

