<h3>Coming soon:</h3>
<ul style="list-style: none;">
  <li>
    Mailing list integration (through meetup.com?).
  </li>
  <li>
    Prettier design.
  </li>
  <li>
    Ideas for a "hacker" conference in Helena.
  </li>
  <li>
    More suggestions? Email <a href="mailto:gaustin+hh@gmail.com">Grant</a>.
  </li>
</ul>
