body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.center {
  text-align: center;
}

footer {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
